*{
    background-color: white;
}

.container__ad-bar{
    color: #333;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #ccc;
}

.content{
    padding-inline: 15rem;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

img{
    width: 80px;
    margin-right: 16px;
}

button{
    margin-left: 16px;
    padding: 8px;
    border-style: none;
    border: solid 1px #ccc;
    color: #ff7400;
    font-weight: 600;
    font-size: 14px;
    padding-inline: 24px;
}

button:hover{
    cursor: pointer;
}