<div class="container">
    <div class="card">
        <img src="../../../assets/news-image-02.jpg" alt="">
        <div class="card-content">
            <strong>Brasileirão</strong>
            <h1>Presidente da LFU, Marcelo Paz admite união com Libra para organizar o Brasileirão</h1>
            <p>Dirigente também demonstra otimismo em acordo nos direitos de transmissão da Série B e comenta chances de liga da Série A: "É uma possibilidade, mas isso ainda é embrionário"</p>
            <span>Há 1 hora</span>
        </div>
    </div>
</div>