<div class="container__content">
    <app-menu-bar></app-menu-bar>
    <div class="content__header">
        <h1>{{contentTitle}}</h1>
        <p>{{contentPreview}}</p>
        <div class="info">
            <strong>{{contentAuthor}}</strong>
            <span>{{contentPostTime}}</span>
        </div>
    </div>
    <div class="content__image">
        <img src="{{photoCover}}" alt="">
        <p>{{contentCoverInfo}}</p>
    </div>
    <div class="content_body">
        <p>{{contentBody}}</p>
    </div>
    <div class="content__more">
    </div>
</div>